/*general styles*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*predefined elements*/
.form, .formUserHome {
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.form label, .formUserHome label {
  align-self: flex-start;
}
.form input, .formUserHome input {
  width: 100%;
  outline: none;
  border: 0px;
  border-bottom: 1px black solid;
  padding: 5px;
  margin-bottom: 20px;
}
.wrapperCenter, .userHomeWrapper {
  /* margin-top:100px; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.submitButton, .gameButton, .form button, .formUserHome button {
  padding: 5px;
  background-color: grey;
  border-radius: 10px 5px;
}
.submitButton:hover, .gameButton:hover, .form button:hover, .formUserHome button:hover {
  background-color: white;
}

/*components styles*/
.navbarWrapper {
  /* position: fixed; */
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: black;
  margin-bottom: 50px;
}

.navLink {
  text-decoration: none;
  color: white;
}
.navLink:hover {
  text-decoration: none;
}
.navLink:focus {
  text-decoration: none;
}
.navLink:active {
  text-decoration: none;
}

.logout {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*pages styles*/
.gamesPageWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarWrapper {
  /* position: fixed; */
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: black;
  margin-bottom: 50px;
}

.navLink {
  text-decoration: none;
  color: white;
}
.navLink:hover {
  text-decoration: none;
}
.navLink:focus {
  text-decoration: none;
}
.navLink:active {
  text-decoration: none;
}

.logout {
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.homeBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeBody .message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 30px;
}

/* @media only screen and (max-width: 600px) { */
/*     .homeBody { */
/*         text-align: center; */
/*     } */
/* } */
.loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notAuthorized {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 30px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}
.buttonWrapper button {
  width: 70px;
}

.gameModalityWrapper {
  display: flex;
  gap: 10px;
}
.gameModalityWrapper button {
  width: 100px;
}

.userHomeWrapper {
  /* background-color: green; */
}

.formUserHome {
  min-height: 200px;
  /* background-color:red; */
}

.graphWrapper {
  width: "700px";
  height: "700px";
  /* border:1px solid black; */
}

/*games styles*/
.submitButton, .form button, .formUserHome button, .gameButton {
  padding: 5px;
  background-color: grey;
  border-radius: 10px 5px;
}

.submitButton:hover, .form button:hover, .formUserHome button:hover, .gameButton:hover {
  background-color: white;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

#myCanvas {
  border: 1px solid black;
}

.gameButton {
  margin-top: 10px;
  height: 30px;
  width: 100px;
}

.result {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  /* background-color: white; */
  /* color: black; */
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
