.navbarWrapper {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.navbarList {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items:center;
  gap:20px;
}
.navbarListItem{
}

